.footer_container{
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    background-color: #D97A2B;
    justify-content: space-between;
    margin-top: 50px;
   
}

.footer_links a{
    padding: 0 35px;
    text-decoration: none;
    font-size: 24px;
    color: #6B4F37;
}

.footer_copyright{
    padding: 0 35px;
    font-size: 24px;
    color: #6B4F37;
    margin-top: 20px;
}

.footer_logos img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

.footer_logos{
    margin-right: 30px;
    filter: invert(29%) sepia(28%) saturate(684%) hue-rotate(346deg) brightness(96%) contrast(86%);

}
.footer_links{
    margin-left: 5px;
}

@media (max-width:600px) {
    .footer_container{
        height: 20vh;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 20px;
    }
    .footer_links a{
        font-size: 18px;
    }
    .footer_copyright{
        font-size: 18px;
    }
    .footer_logos {
        display: flex;
        justify-content: center;
        order: 1;
        flex: 1 0 100%;
        margin-right: 0;
    }
    .footer_copyright{
       text-align: center;
    }
    
    
  
}